pipeline/incremtalpipeline.json
{
	"name": "incremtalpipeline",
	"properties": {
		"activities": [
			{
				"name": "gettingdatafrom tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "iterateoneachtable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "gettingdatafrom tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('gettingdatafrom tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copyingdatfromtarget",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().SourceSchema}.@{item().SourceTable}\nwhere @{item().LastModifiedColumn} > '@{item().LastLoadTimestamp}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference",
									"parameters": {
										"Table": {
											"value": "@item().SourceTable",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText3",
									"type": "DatasetReference",
									"parameters": {
										"targetTable": {
											"value": "@item().TargetTable",
											"type": "Expression"
										},
										"filename": {
											"value": "@concat(item().TargetTable,'_',formatDateTime(utcNow(),'yyyy-mm-dd'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "maxvaluefromtable",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "copyingdatfromtarget",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select max(@{item().LastModifiedColumn}) as Max_Date from @{item().SourceSchema}.@{item().SourceTable}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference",
									"parameters": {
										"Table": {
											"value": "@item().SourceTable",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().SourceSchema",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "updatemaxvalue",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "maxvaluefromtable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[UpdateWaterMark]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@item().SourceTable",
											"type": "Expression"
										},
										"type": "String"
									},
									"UpdateTimeStamp": {
										"value": {
											"value": "@activity('maxvaluefromtable').output.value[0].Max_Date",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}